.pageHeading{
	color:Black;
	text-align:center;
	font-size: 300%;
	
}

body{
	background-color: grey;
}

.applicationButton{
	height: 45px;
	width:90px;
	color: black;
	background-color: purple;
	border:0;
	text-align: center;
	vertical-align: center;
	/*float:right;*/
}
#greyTable{
	background-color:grey;
	border:0;
}
#lyricCloud{
	height:50vh; 
	visibility:hidden;
	background-color:white;
	align:center;
}